/* .container{
    background-image: url("C:\Users\yella\Downloads\1692159866734.jpeg");
    height: 50vh;
    width: 60vh;
    background-size: cover;
} */

img{
    height: 50vh;
    width:50vh
}